/*navbar start*/
.navbar {
    padding: 0px !important;
}
.navbar ul li{
    height: 60px;
    font-size: 15px;
    line-height: 45px;
      
}
.navbar li:hover,.navbar .dropdown-menu li:hover, .navbar .dropdown-menu a:hover{
    background-color: rgb(20, 172, 243);
    color:white;
    height: 60px;
    font-size: 15px;
    line-height: 45px;
}

/*navbar end*/
/*head of body start*/
p{
    text-align: justify;
}
/*head of body end*/

/*other page start*/
ul a{
    text-decoration: none;
}
ul li:hover{
    background-color: aliceblue;
}
/*other page end*/
/*photo gallery start*/